<!DOCTYPE html>
<html lang="en">

<head>
    <title>Manga.sh</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Manga.sh</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/comics">comics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/comics?sort">latest</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/groups">groups</a>
                </li>
                {{if .IsLogin}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Upload
                      </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/upload">New Chapter</a>
                        <a class="dropdown-item" href="/comics/add">New Series</a>
                        <a class="dropdown-item" href="/groups/add">New Group</a>
                    </div>
                </li>
                {{end}}
            </ul>
            <form class="form-inline my-2 my-lg-0" method="GET" action="/comics">
                <input class="form-control mr-sm-2" type="search" name="query" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <ul class="navbar-nav ">
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="acountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                      </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="acountDropdown">
                        {{if .IsLogin}}
                        <a class="dropdown-item" href="/user/profile">Profile</a>
                        <a class="dropdown-item" href="/user/follows">Follows</a>
                        <a class="dropdown-item" href="/user/follows/import">Import</a>
                        <a class="dropdown-item" href="/user/rss">RSS</a>
                        <a class="dropdown-item" href="/auth/logout">logout</a> {{else}}
                        <a class="dropdown-item" href="/auth/signup">Signup</a>
                        <a class="dropdown-item" href="/auth/login">Login</a> {{end}}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {{if (or (.Notice) (.Success))}}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{.Notice}} {{.Success}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{else if .Error}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{.Error}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{else if .Warning}}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{.Warning}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{end}} {{.LayoutContent}}

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="/static/js/reader.js"></script>
    <link rel="stylesheet" href="/static/css/flag-icon.min.css">
</body>

</html>