<table class="table">
    <thead>
        <tr>
            <th scope="col">Series</th>
            <th scope="col">Language</th>
            <th scope="col">Group</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        {{range $key, $val := .series}}
        <tr>
            <th scope="row"><a href="/comics/{{$val.SeriesId.Id}}/{{$val.Title}}">{{$val.SeriesId.Name}}</a></th>
            <td>{{$val.ChapterLanguage.Name}}</td>
            <td>Otto</td>
            <td>{{dateformat $val.TimeUploaded "2006-01-02 15:04"}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{if .paginator.HasPages}}
<ul class="pagination pagination">
    {{if .paginator.HasPrev}}
    <li><a href="{{.paginator.PageLinkFirst}}">&laquo;&laquo;</a></li>
    <li><a href="{{.paginator.PageLinkPrev}}">&laquo;</a></li>
    {{else}}
    <li class="disabled"><a>&laquo;&laquo;</a></li>
    <li class="disabled"><a>&laquo;</a></li>
    {{end}} {{range $index, $page := .paginator.Pages}}
    <li{{if $.paginator.IsActive .}} class="active" {{end}}>
        <a href="{{$.paginator.PageLink $page}}">{{$page}}</a>
        </li>
        {{end}} {{if .paginator.HasNext}}
        <li><a href="{{.paginator.PageLinkNext}}">&raquo;</a></li>
        <li><a href="{{.paginator.PageLinkLast}}">&raquo;&raquo;</a></li>
        {{else}}
        <li class="disabled"><a>&raquo;</a></li>
        <li class="disabled"><a>&raquo&raquo;;</a></li>
        {{end}}
</ul>
{{end}}