<table class="table">
    <thead>
        <tr>
            <th>Series</th>
            <th>Link</th>
            <th>Group</th>
            <th>Language</th>
        </tr>
    </thead>
    <tbody>

        {{range $key, $val := .series}}


        <tr>
            <td>
                <a href="/comics/{{$val.SeriesId.Id}}/{{$val.SeriesId.Name}}">{{$val.SeriesId.Name}}</a>
            </td>
            <td>
                <a href="/reader/{{$val.Hash}}?limit=1&p=1">
                {{$val.VolumeNumber}} {{$val.ChapterNumberVolume}} {{$val.Title}} {{$val.ChapterNumberAbsolute}}
                </a>
            </td>
            <td>
                {{$val.ContributorId.Username}}
            </td>
            <td>
                {{$val.ChapterLanguage.Name}}
            </td>

        </tr>
        {{end}}

    </tbody>
</table>
{{template "pagination.html" .}}