<table class="table">
    <thead>
        <tr>
            <th>cover</th>
            <th>Series</th>
            <th>Link</th>
            <th>Group</th>
            <th>Language</th>
        </tr>
    </thead>
    <tbody>

        {{range $key, $val := .series}}


        <tr>
            <td>
                <img src="/uploads/cover/{{$val.SeriesId.CoverImage}}" alt="cover image">
            </td>
            <td>
                <a href="/comics/{{$val.SeriesId.Id}}/{{$val.SeriesId.Name}}">{{$val.SeriesId.Name}}</a>
            </td>
            <td>
                <a href="/reader/{{$val.Hash}}?limit=1&p=1">
                Vol. {{$val.VolumeNumber}} Ch. {{$val.ChapterNumberVolume}} {{$val.Title}} {{$val.ChapterNumberAbsolute}}
                </a>
            </td>
            <td>
                {{$val.ContributorId.Username}}
            </td>
            <td>
                <a href=""><span class="flag-icon flag-icon-{{$val.ChapterLanguage.Code}} flag-icon-squared"></span> {{$val.ChapterLanguage.Name}}</a>
            </td>

        </tr>
        {{end}}

    </tbody>
</table>
{{template "pagination.html" .}}