<div class="row">
    <div class="col-md-3 pull-md-9">
        <img class="align-self-start border" src="/uploads/covers/{{.series.CoverImage}}_thumb" alt="Generic placeholder image">
    </div>
    <div class="col-md-9 push-md-3">
        <div class="row">
            <div class="col-md-3 pull-md-9">
                <p>Name</p>
            </div>
            <div class="col-md-9 pull-md-3">
                {{.series.Name}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{.description}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 pull-md-9">
                <p>Alt Names</p>
            </div>
            <div class="col-md-9 pull-md-3">
                {{.series.Name}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 pull-md-9">
                <p>Authors</p>
            </div>
            <div class="col-md-9 pull-md-3">
                {{.series.Name}}
            </div>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Link</th>
            <th>Group</th>
            <th>Language</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>

        {{range $key, $val := .chapters}}
        <tr>
            <td>
                <a href="/reader/{{$val.Hash}}?limit=1&p=1">
                {{$val.VolumeNumber}} {{$val.ChapterNumberVolume}} {{$val.Title}} {{$val.ChapterNumberAbsolute}}
                </a>
            </td>
            <td>
                {{$val.ContributorId.Username}}
            </td>
            <td>
                {{$val.ChapterLanguage.Name}}
            </td>
            <td>
                <a href="/download/{{$val.Hash}}">download</a>
            </td>

        </tr>
        {{end}}

    </tbody>
</table>