{{if gt .paginator.PageNums 1}}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {{if .paginator.HasPrev}}
        <li class="page-item">
            <a class="page-link" href="{{.paginator.PageLinkFirst}}" aria-label="first">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">&lt;&lt;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" id="prevLink" href="{{.paginator.PageLinkPrev}}">&lt;</a></li>
        {{else}}
        <li class="page-item disabled">
            <a class="page-link" aria-label="first">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">First</span>
            </a>
        </li>
        <li class="page-item disabled"><a class="page-link">&lt;</a></li>
        {{end}} {{range $index, $page := .paginator.Pages}}

        <li{{if $.paginator.IsActive .}} class="page-item active" {{else}} class="page-item" {{end}}>
            <a class="page-link" href="{{$.paginator.PageLink $page}}">{{$page}}</a>
            </li>
            {{end}} {{if .paginator.HasNext}}
            <li class="page-item"><a class="page-link" id="nextLink" href="{{.paginator.PageLinkNext}}">&gt;</a></li>
            <li class="page-item"><a class="page-link" href="{{.paginator.PageLinkLast}}">&gt;&gt;</a></li>
            {{else}}
            <li class="page-item disabled"><a class="page-link">&gt;</a></li>
            <li class="page-item disabled"><a class="page-link">&gt;&gt;</a></li>
            {{end}}

    </ul>
</nav>
{{end}}