<form action="/comics/add" method="POST" enctype="multipart/form-data">

    {{ .xsrfdata }}
    <div class="form-group">
        <label for="SeriesName">Name</label>
        <input type="text" class="form-control" id="SeriesName" placeholder="name" name="name">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="cover">Cover Image</label>
        <input type="file" class="form-control-file" id="cover" name="cover">
    </div>
    <div class="form-group">
        <label for="Authors">Authors</label>
        <input type="text" class="form-control" id="Authors" placeholder="authors , seperated" name="authors">
    </div>
    <div class="form-group">
        <label for="artis">Artists</label>
        <input type="text" class="form-control" id="Artists" placeholder="artists , seperated" name="artists">
    </div>
    <div class="form-group">
        <label for="Atuthors">Tags</label>
        <input type="text" class="form-control" id="tags" placeholder="artists , seperated" name="artists">
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1" name="mature">
        <label class="form-check-label" for="inlineCheckbox1">Mature</label>
    </div>
    <div class="form-group">
        <label for="typeName">Type Name</label>
        <select class="form-control" id="typeName" name="typename">
        <option>Manga</option>
        <option>Manhwa</option>
        <option>Webcomic</option>
      </select>
    </div>
    <div class="form-group">
        <label for="typeDe">Type origin</label>
        <select class="form-control" id="typeDe" name="typede">
        <option>Japanese</option>
        <option>Korean</option>
      </select>
    </div>
    <div class="form-group">
        <label for="status">Status</label>
        <select class="form-control" id="status" name="status">
        <option>Ongoing</option>
        <option>Stalled</option>
        <option>Discontinued</option>
        <option>Complete</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>